@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex justify-center items-center overflow-x-hidden  w-full bg-slate-100;
  }
}

@layer components {
  .formula {
    @apply text-sm text-center border-b-2 w-[400px] pb-[6.5px] mb-[35px];
  }

  .form-control {
    @apply mb-[20px] flex flex-col max-w-[250px] justify-center;
  }

  .form-control input,
  .form-control select {
    @apply border;
  }
  .form-control select {
    @apply px-4 py-2 cursor-pointer;
  }

  form #calculate-button {
    @apply px-4 py-2 bg-gradient-to-r from-blue-500  to-blue-400 rounded-lg text-white font-semibold;
    transition: all 0.5s ease-in-out;
  }
  form #calculate-button:hover {
    @apply from-blue-600 to-blue-500;
  }
  #result {
    @apply text-4xl text-center justify-center items-center font-bold;
  }

  section.results p {
    @apply text-center;
  }
}
